.app {
  margin: 10;
}

.app__posts {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.app__postsRight {
  margin-left: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: 0;
  /* z-index prevents overlapping when scrolling */
  z-index: 1; 
  background-color: white;
  padding: 20px;
  border-bottom: 1px sold lightgrey;
  object-fit: contain;
}

.app__headerImage {
  object-fit: contain;
  width: 8em;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
